{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    通知
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row mt-4 ml-4">
        <a href="{% url "notice:update" %}" class="btn btn-warning" role="button">清空所有通知</a>
    </div>
    <!-- 未读通知列表 -->
    <div class="row mt-2 ml-4"><!-- 划定大小 -->
        <ul class="list-group">
            <!-- 通过循环方式，展示所有通知 -->
            {% for notice in notices %}
                <li class="list-group-item" id="notice_link">
                    <!-- 链接到的地址，如具体的问题，文章 -->
                    <a href="{% url "notice:update" %}?id={{ notice.target.id }}&notice_id={{ notice.id }}&verb={{ notice.verb }}"
                       target="_blank">
                    <span style="color: #5897fb;">
                        {{ notice.actor.name }}
                    </span>
                        {{ notice.verb }}。
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<style>
    #notice_link a:link {
        color: black;
    }

    #notice_link a:visited {
        color: lightgrey;
    }
</style>
{% endblock content %}