<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}
<!-- 
片段名称： 主界面
作者:	    ssc
时间：	    2020-8-4
功能：	   显示主界面，包含了header footer 发布的入口还有热门板块
修改记录： 
--> 
<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <!-- 引入病人列表内容 -->
    {% include 'patients.html' %}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock content %}