<div class="text-center mt-4">
    <h4><b>病人管理</b></h4>
</div>
<!-- 
片段名称：  显示热门问题
作者:	    qhy
时间：	    2020-8-4
功能：	   显示热门问题，根据热度顺序显示，并根据会显示所属板块，点击可以浏览详情
修改记录： 
--> 
<!-- 列表循环 -->
<div class="row ml-5 justify-content-between">
    {% for patient in patient_list %}
        <!-- 文章内容 -->
        <hr>
        <div class="col-9">
            <!-- 标题 -->
            <h4>
                <b><a href='{% url "patient:medicalRecord" patient.patient.user.id %}'>{{ patient.patient.name }}</a>
                </b>
            </h4>

            <!-- 摘要 -->
            <div>
                <p style="color: gray;">
                    {{ patient.mr.description|slice:'100' }}...
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 附加信息 -->
                <span>
                    <i class="fas fa-user" style="color:yellowgreen"></i>
                    {{ patient.patient.user.username }}
                </span>
                <span>
                    <i class="fas fa-clock" style="color:gray;"></i>
                    {{ patient.mr.tag}}
                </span>
            </p>
        </div>
        <div class="col-3">
            <br>
            <span>
                <a type="button" class="btn btn-info btn-sm mb-2" href='{% url "doctor:addDescription" patient.patient.user.id %}'>
                    编辑病历
                </a>
            </span>
            <span>
                <a type="button" class="btn btn-info btn-sm mb-2" href='{% url "doctor:addPrescription" patient.patient.user.id %}'>
                    添加诊断
                </a>
            </span>
        </div>

    {% endfor %}
</div>